
@{
    ViewBag.Title = "afterlogin";
}

<h2>afterlogin</h2>
<form action="/Home/Index1">

<input type="submit"  value="View train details"  /></form>

<form action="/Home/CancelTicket">
    <input type="submit" value="Cancel Ticket" />


</form>
<input type="button" value="Reservation" />



