
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>

<h1>Login</h1><form action="/Home/afterlogin">
User Name: <input type="text" />
Password: <input type="password" />
<input type="submit" value="Login" />
    </form>
<a href="Register">Not having account? Sign Up</a>